.project
.pydevproject

DjangoRecommender/__pycache__/*
movierec/__pycache__/*
movierec/migrations/__pycache__/*
movierec/data/*
*/movierec/data/*

movierec/data/the-movies-dataset/support_small_multiprocess_vectorized.csv
