{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'movierec/style.css' %}">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">

<header>
<p>NETFLIX</p>
</header>

<div class="container">
{% for list in recommendation_lists %}

      <div id="row">
         <h1 class="listTitle">Algorithm {{ forloop.counter }}</h1>    
         <div id="carousel">

            {% for movie in list %}
            <div class="image">
               <a href="#">
                  <img id="box1" src="http://placehold.it/280x350" width="280" height="350" />
                  <span class="text-content"><span>{{ movie }}<br><br><i class="fa fa-4x  fa-play-circle-o"></i><br><br><i class="fa fa-chevron-down" aria-hidden="true"></i></span></span>
               </a>
            </div>
            {% endfor %}

         </div>
      </div>
{% endfor %}

</div>
