{% csrf_token %}
{% load static %}


<link rel="stylesheet" type="text/css" href="{% static 'movierec/style.css' %}">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">

<header>
<img src="static/movierec/images/potato.png" height="100" />
<a href="/">Couch Potato Advisor</a>
</header>

<div class="wrap">

   <h3 class="input-advice">Find movies similiar to your favourite!</h3>
   <div class="search">
      <form id="searchForm" method="get">
         <input name="movie_title" type="text" class="searchTerm" id="searchBar" placeholder="ex. Star Wars">
         <button type="submit" class="searchButton" value="Submit">
           <i class="fa fa-search"></i>
         </button>
      </form>
   </div>
</div>

<div class="searchItem">
   <h2>Showing results for the movie: "{{movie_title}}"</h2>
   <img src="{{poster_path}}" width="140" height="175" />
</div>

<div class="container">
{% for key, value in recommendation_dict.items %}

      <div id="row">
         <h1 class="listTitle">{{ key }}</h1>
         <div id="carousel">

            {% for movie in value %}
            <div class="image">
               <a href="?movie_title={{ movie.0 }}">
                  <img id="box1" src="http://image.tmdb.org/t/p/w342{{ movie.3 }}" width="280" height="350" />
                  <span class="text-content"><span><i class="fa fa-search fa-5x"></i><br><br><i class="fa fa-chevron-down" aria-hidden="true"></i></span></span>
               </a>
            </div>
            {% endfor %}

         </div>
      </div>
{% endfor %}

</div>
